<!-- WELCOME VIEW -->

<div class="row">
	<div class="text-center large-12 mid-screen columns">
		<h1 class="text-fill" id="fresh">fresh( );</h1>
		<h3>WELCOME TO FRESH FUNCTION</h3>
		<h5>~ def initialize style ~</h5>
		<br>
		
		<a href="/create" class="button">START</a>
		<br>
		<br>

	</div>
</div>