<div class="row">
	<div class="text-center large-12 mid-screen columns border">
		<h1 class="text-fill" id="fresh">fresh( );</h1>
		<h3>def initialize style</h3>
		<br>
		<br>
		<a href="/create" class="button">START</a>
		<br>
		<br>
		<p class="text-small">Welcome to <strong>fresh( );</strong> also known as Fresh Function.
		<br>
		With this page, you'll be styling out your own developer tee-shirts in no time. Go ahead, click on the START button and get your swag on!
		</p>
	</div>
</div>