<!-- tech stack -->
<div class="row">
	<div class="text-center large-12 mid-screen columns bottom-space">
		<h3 class="bg-purple blue-text bottom-space">Tech Stack</h3>
		<p class="text-center blue-text">HTML & CSS</p>
		<hr>
		<p class="text-center blue-text">Zurb Foundation 5 Gem</p>
		<hr>
		<p class="text-center blue-text">jQuery-Rails</p>
		<hr>
		<p class="text-center blue-text">Rails</p>

	</div>
</div>