<div class="row">
	<div class="text-center large-12 mid-screen columns">
		<h2 class="bg-purple white-text">about fresh( );</h2>
			<h4 class="light-bar">fresh</h4>
			<h2 class="spaced">adjective \'fresh\</h2>
			<p class="spaced">Having its original qualities; newly produced</p>
			<br>
			<h4 class="light-bar">function</h4>
			<h2 class="spaced"> noun \ˈfəŋ(k)-shən\</h2>
			<p class="spaced">The special purpose or activity for which a thing exists or is used</p>
			<br>
			<p class="spaced">Have you ever wanted to design your own clothing? Good, we're not alone. Better yet, you ever wanna rep your favorite code expression on a t-shirt, but just can't find that bad boy on Amazon? Us too! 
			</p><p class="spaced">Here at fresh( );, we have crafted a platform for coders to design simple dev-based tee-shirts.</p>
	</div>
</div>