<!-- CREATE VIEW -->
<div class="row">
	<div class="large-12 mid-screen columns text-center bottom-space">
		
		<div class="large-6 columns text-center">
			<h4 class="bg-purple blue-text">PREVIEW</h4>
			<div class="large-12 columns rel" id="creation">	
				
				<!-- design layer A -->
				<div class="large-12 columns design-block">
					<h2 class="design-a"></h2>
				</div>

				<!-- design layer B -->
				<div class="large-12 columns design-block">
					<h1 class="design-b"></h1>
				</div>
					
				<img class="tshirt" id="show_shirt" src="t-white.png">
			</div>
		</div>
		
		<div class="large-6 columns text-center">
			<h4 class="bg-purple blue-text">STYLE IT</h4>
			<div class="large-12 columns">
        <select class="selection-field" id="shirt_color" >
					<option value="t-black.png">1) Choose Shirt Color</option>
					<option value="t-white.png">White</option>
					<option value="t-black.png">Black</option>
	        <option value="t-grey.png">Grey</option>
					<option value="t-red.png">Red</option>
					<option value="t-seafoam.png">Seafoam</option>
        </select>
        <select class="selection-field" id="symbol">
					<option value="</>">2) Add Code Operator</option>
					<option value="< />">Tag</option>
          <option value="{  }">Hash</option>
					<option value="<= =>">Equality</option>
					<option value="[ ]">Array</option>
					<option value="=>">Hash Rocket</option>
					<option value="&&">And Operator</option>
					<option value="? :">Conditional Expression</option>
        </select>
        <select class="selection-field" id="color_symbol" >
					<option value="#ffffff">3) Colorize Operator</option>
	        <option value="#39c0da">Turquoise</option>
	        <option value="#f82576">Pink</option>
					<option value="#f8feff">White</option>
					<option value="#27ae60">Kelly</option>
					<option value="#9b59b6">Purps</option>
					<option value="#34495e">Asphalt</option>
					<option value="#e74c3c">Salmon</option>
					<option value="#f39c12">Orange</option>
        </select>
        <select class="selection-field" id="phrase">
					<option value="UNDEFINED METHOD">4) Add a Phrase</option>
					<option value="CODEWORLD">Code World</option>
					<option value="RSPEC YO SELF">RSpec Yourself</option>
          <option value="UNDEFINED METHOD">Undefined Method</option>
					<option value="!FALSE">true</option>
					<option value="UNEXPECTED TOKEN">unexpected token</option>
					<option value="DEF INITIALIZE">.new</option>
					<option value="GIT -FORCE">Git Force</option>
					<option value="RAKE UP!">RAKE UP</option>
        </select>
        <select class="selection-field" id="color_phrase" >
					<option value="#f82576">5) Colorize Phrase</option>
	        <option value="#39c0da">Turquoise</option>
	        <option value="#f82576">Pink</option>
					<option value="#f8feff">White</option>
					<option value="#27ae60">Kelly</option>
					<option value="#9b59b6">Purps</option>
					<option value="#34495e">Asphalt</option>
					<option value="#e74c3c">Salmon</option>
					<option value="#f39c12">Orange</option>
        </select>
				<br>
				<a href="#" class="button smaller" id="create_button">ADD TO GALLERY</a>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="large-6 columns" id="gallery">
		Gallery Testing
	</div>
</div>