/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);

// * {
// 	outline: 1px solid red;
// }

// styles that apply to entire site
body {
	color: #20b5da;
	background-image: url(gtpattern.png);
}

h1, h2, h3, h4, h5, h6	{
	font-family: 'Dosis', sans-serif;
}

h1 {
	font-size: 11rem;
	font-weight: bolder;
}

.white-text {
	color: #ffffff;
}

.blue-text {
	color: #32a0da;
}

.text-fill {
	background-image: url(geo.jpg);
	-webkit-background-clip: text;
	background-clip: text;
	color: rgba(0,0,0,0);
}

// .border {
// 	border: 1px solid #5f7573;
// }

.mid-screen {
	margin-top: 80px;
}

.top-bar {
	height: 60px;
	width: 100%;
	background-color: #29106c;
	background-image: url(geobar.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 2px 3px #a2a2a2;
	text-align: center;
}

.text-center {
	text-align: center;
}

.list-class ul {
	list-style-type: none;
}

.list-class li, a{
	display: inline-block;
	margin: 5px 29px 0 20px;
	color: #ffffff;
}

.list-class a {
	background-color: transparent;
}

.list-class a:hover {
	color: #f8f5e3;
}

.button {
	background-color: transparent;
	border: 1px solid #32a0da;
	border-radius: 8px;
	color: #32a0da;
	margin-top: 20px;
}

.button:hover {
	background-color: #32a0da;
	color: #ffffff;
}

.smaller {
	width: 150px;
	padding: 5px;
	margin: 10px;
}

.hidden {
	display: none;
}

// styles that apply to create page
.tshirt {
	max-width: 90%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.bg-purple {
	background-image: url(geobar.png);
	background-repeat: no-repeat;
	background-size: cover;
}

select {
	background-color: #b4dcd7;
}

select:hover {
	background-color: #90deca;
}


// styles that apply to home page
// styles that apply to about page 

// media queries for max-width 768
@media only screen and (max-width : 767px) {
	.list-class li, a {
		margin: 5px 10px 0 10px;
		text-align: center;
	}
	h1 {
		font-size: 9rem;
	}	
}
// media queries for max-width 480
@media only screen and (max-width : 480px) {
	.list-class li, a {
		margin: 5px 5px 0 5px;
		text-align: center;
	}
	h1 {
		font-size: 6rem;
	}	
}
