<!-- CREATE VIEW -->

<div class="row">
	<div class="large-12 mid-screen columns text-center bottom-space">
		<div class="large-6 columns text-center">
			<h4 class="bg-purple white-text">PREVIEW</h4>
			<div class="large-12 columns rel">
				
				<!-- design layer A -->
				<div class="large-12 columns design-block">
					<h2 class="design-a"></h2>
				</div>

				<!-- design layer A -->
				<div class="large-12 columns design-block">
					<h1 class="design-b"></h2>
				</div>
				

					<img class="tshirt" id="show_shirt" src="t-white.png">
					<img class="tshirt hidden" id="hide_shirt" src="t-black.png">
			</div>
		</div>
		<div class="large-6 columns text-center">
			<h4 class="bg-purple white-text">GET STEEZY</h4>
			<div class="large-12 columns">
				<br>
				<br>
				<label><h5>addCodeSymbol( );</h5>
	        <select id="code">
	          <option value="{  }">Hash</option>
						<option value="<= =>">Equality</option>
						<option value="[ ]">Array</option>
						<option value="=>">Hash Rocket</option>
						<option value="< />">Tag</option>
						<option value="&&||">And Or</option>
	        </select>
      	</label>
      	<label><h5>addPhrase( );</h5>
	        <select id="phrase">
	          <option value="UNDEFINED METHOD">Undefined Method</option>
						<option value="!FALSE">true</option>
						<option value="UNEXPECTED TOKEN">unexpected token</option>
						<option value="DEF INITIALIZE">.new</option>
						<option value="GIT -FORCE">Git Force</option>
						<option value="RAKE UP!">RAKE UP</option>
						<option value="RSPEC MY SHIT">RSpec My Shit</option>
	        </select>
      	</label>
      	<label><h5>textColor( );</h5>
	        <select id="color">
		        <option value="#1abc9c">Turquoise</option>
						<option value="#27ae60">Nephritis</option>
						<option value="#9b59b6">Amethyst</option>
						<option value="#34495e">Asphalt</option>
						<option value="#e74c3c">Alizarin</option>
						<option value="#7f8c8d">Concrete</option>
						<option value="#f39c12">Orange</option>
	        </select>
      	</label>
				<br>
				<a href="#" class="button smaller" id="create_button">CREATE THAT</a>
				<br>
				<!-- <a href="#" class="button smaller">SHIRT COLOR</a> -->
			</div>
		</div>
	</div>
</div>