<div class="row">
	<div class="large-12 mid-screen columns text-center">
		<div class="large-6 columns text-center">
			<h4 class="bg-purple white-text">PREVIEW</h4>
			<div class="large-12 columns ">
				<%= image_tag "t-white.png", :class => "tshirt" %>
			</div>
		</div>
		<div class="large-6 columns text-center">
			<h4 class="bg-purple white-text">SWAG OUT</h4>
			<div class="large-12 columns">
				<br>
				<label><h5>Symbolize</h5>
	        <select>
	          <option value="{ }">Hash</option>
						<option value="<%  %>">View</option>
						<option value="[ ]">Array</option>
						<option value="=>">Hash Rocket</option>
						<option value="< />">Tag</option>
						<option value="&&||">And Or</option>
	        </select>
      	</label>
      	<label><h5>Phrasify</h5>
	        <select>
	          <option value="Undefined Method">Undefined Method</option>
						<option value="!false">true</option>
						<option value="unexpected token">option3</option>
						<option value="def initialize">.new</option>
						<option value="git -force">Git Force</option>
	        </select>
      	</label>
      	<label><h5>Colorize</h5>
	        <select>
		        <option value="#1abc9c">Turquoise</option>
						<option value="#27ae60">Nephritis</option>
						<option value="#9b59b6">Amethyst</option>
						<option value="#34495e">Asphalt</option>
						<option value="#e74c3c">Alizarin</option>
						<option value="#7f8c8d">Concrete</option>
						<option value="#f39c12">Orange</option>
	        </select>
      	</label>
				<a href="#" class="button smaller">CREATE THAT</a>
				<a href="#" class="button smaller">SHIRT COLOR</a>
			</div>
		</div>
	</div>
</div>