<!-- CONTACT VIEW -->

<div class="row">
	<div class="text-center large-12 mid-screen columns">
		<h2 class="bg-purple blue-text">contact( );</h2>
			<h4 class="light-bar">ADDRESS</h4>
			<p class="spaced">
				Designed at 2AM.,<br>
				12800 Harrisglenn Drive
				<br>
				Austin, TX 78753
				<br><span class="text-small">(512) 555 - 2398</span>
			</p>
			<br>
			<h4 class="light-bar">SOCIAL</h4>
			<p class="spaced">
			<a href="#">twitter/@techtolentino</a>
			<br>
			<a href="#">facebook.com/maker.tolentino</a>
			<br>
			<a href="#">github.com/techtolentino</a>
			<br>
			</p>
			<br>
	</div>
</div>